<div class="container-fluid posts-heading">
	<div class="background-wrapper">
	</div>
	<div class="heading-content">
		<h1>Code, Books, Philosophy & More</h1>
		<h2 class="cursive">jalexy.sexy</h2>
	</div>
</div>
<div class="container">
	<div class="post-list-single-post">
		<h2>Post Title</h2>
		<p>This is a short description of the post</p>
		<time datetime="2016-10-23">October 26th, 2016</time>
		<ul class="tags">
			<li>Code</li>
			<li>JavaScript</li>
			<li>React</li>
		</ul>
	</div>
</div>