<div class="container-fluid posts-heading">
	<div class="background-wrapper">
	</div>
	<div class="heading-content">
		<h1>Code, Books, Philosophy & More</h1>
		<h2 class="cursive">jalexy.sexy</h2>
	</div>
</div>
<div class="container">
	<%= render partial: "post", collection: @posts %>
</div>