<!DOCTYPE html>
<html>
  <head>
    <title>Jalexydotsexyplatform</title>
    <%= render 'header_partials/meta'  %>
    <%= render 'header_partials/scripts'  %>
    <%= render 'header_partials/stylesheets'  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
